<div class="row">
    <div class="form-group col-sm-12">
        <div class="row">
            <div class="form-group col-sm-6">
                <label>Name</label>
                <span class="form-control">{name}</span>      
            </div>
            <div class="form-group col-sm-6">
                <label>Email </label>
                <span class="form-control">{from}</span>        
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label>Subject</label>
                <span class="form-control">{subject}</span>      
            </div>
            <div class="form-group col-sm-6">
                <label>Date </label>
                <span class="form-control">{created_at}</span>        
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <label>Message</label>
                <span class="form-control">{body}</span>          
            </div>
        </div>
    </div>
</div>