
<tr class="{seen}">
     <td class="ID">
         <input name="ids[]" class="chk-box" value="{id}" type="checkbox">
     </td>
     <td>{name}</td>
     <td>{from}</td>
     <td><small>{created_at}</small></td>
     <td>{subject}</td>
     <td><p>{body}</p></td>
     <td>
         <button type="button" class="btn btn-info btn-sm btn-msg-view" data-toggle="modal" data-msg-id="{id}" data-target="#modal-message"> 
             <i class="fa fa-eye"></i>
             View
         </button>
     </td>
 </tr>