<!DOCTYPE html>
{% set data = session_flash('data') %}

<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Our First Hand</title>
        <link rel='stylesheet' href="{{ url_pub('admin/css/bootstrap.min.css') }}" />
        <link rel='stylesheet' href="{{ url_pub('admin/css/style.css') }}"/>
        <link rel='stylesheet' href="{{ url_pub('admin/css/font-awesome.min.css') }}"/>
        <link rel='stylesheet' href="{{ url_pub('admin/css/media.css') }}"/>
        <link rel='stylesheet' href="{{ url_pub('admin/css/animate.min.css') }}"/>
        <link rel='stylesheet' href="http://fonts.googleapis.com/css?family=Roboto:400,700,300"/>
        {% block styles %}{% endblock %}
    </head>

    <body>
        {% if session_has('success') %}
        <div class="alert alert-success center-block text-center">
            {{ session_flash('success') }}
            <span class="close" data-dismiss='alert'>&times;</span>
        </div>
        {% endif %}
        {% if session_has('error') %}
        <div class="alert alert-danger center-block text-center">
            {{ session_flash('error') }}
            <span class="close" data-dismiss='alert'>&times;</span>
        </div>
        {% endif %}
        {% if session_has('waring') %}
        <div class="alert alert-waring center-block text-center">
            {{ session_flash('waring') }}
            <span class="close" data-dismiss='alert'>&times;</span>
        </div>
        {% endif %}
        {% if session_has('info') %}
        <div class="alert alert-info center-block text-center">
            {{ session_flash('info') }}
            <span class="close" data-dismiss='alert'>&times;</span>
        </div>
        {% endif %}
        {% block body %}{% endblock %}
        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="{{ url_app() }}">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Company
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; 2016 <a href="{{ url_app() }}">Zakaa</a>, made with love for a better web
                </p>
            </div>
        </footer>
    </div>
</div>
{% block modals %}{% endblock %}

<script src="{{ url_pub('admin/js/jquery-1.12.1.min.js') }}"></script>
<script src="{{ url_pub('admin/js/bootstrap.min.js') }}"></script>
<script src="{{ url_pub('admin/js/plugins.js') }}"></script>
<script src="{{ url_pub('admin/js/jquery.nicescroll.js') }}"></script>

{% block scripts %}{% endblock %}
</body>
</html>









