{% extends 'admin/master.html '%}

{% block content %}
<section class="panel panel-default content">
    <div class="panel-heading">
        <h3 class="panel-head">Dashboard</h3>
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-7 col-md-7 ">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Activity Status</h3>
                        </div>
                        <div class="panel-body">
                            content
                        </div>
                        <div class="panel-footer">Panel footer</div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Daily Spotlight</h3>
                        </div>
                        <div class="panel-body">
                            content
                        </div>
                        <div class="panel-footer">Panel footer</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7 col-md-7 ">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Mony In Egypt</h3>
                        </div>
                        <div class="panel-body">
                            Panel content
                        </div>
                        <div class="panel-footer">Panel footer</div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Highest 5 Invoices</h3>
                        </div>
                        <div class="panel-body">
                            Panel content
                        </div>
                        <div class="panel-footer">Panel footer</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}