{% extends 'admin/master.html '%}

{% block content%}
<section class="content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-head">Incoming Orders</h3>
        </div>
        <div class="panel-body">
            <div class="container-fluid">
                <div class="row top-table">
                    <div class="col-xs-7">

                        <div class="col-xs-5 inner-col">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-sm btn-default  active" title="All Plan Types">
                                    <input type="radio" name="options" class="btn-plan-filter" data-filter="all"  autocomplete="off" checked>
                                    <i class="fa text-active"></i>
                                    All
                                </label>
                                <label class="btn btn-sm btn-default" title="Basic Plan">
                                    <input type="radio" name="options" class="btn-plan-filter" data-filter="basic-plan"  autocomplete="off" > 
                                    <i class="fa text-active"></i>
                                    Basic
                                </label>
                                <label class="btn btn-sm btn-default" title="Pro Plan">
                                    <input type="radio" name="options"  class="btn-plan-filter" data-filter="pro-plan" autocomplete="off">
                                    <i class="fa text-active"></i>
                                    Pro
                                </label>
                                <label class="btn btn-sm btn-default" title="Economic Plan">
                                    <input type="radio" name="options"  class="btn-plan-filter" data-filter="economic-plan" autocomplete="off">
                                    <i class="fa text-active"></i>
                                    Eco
                                </label>
                                <label class="btn btn-sm btn-default" title="Enterprise Plan">
                                    <input type="radio" name="options" class="btn-plan-filter" data-filter="enterprise-plan"  autocomplete="off">
                                    <i class="fa text-active"></i>
                                    Custom
                                </label>
                            </div>
                        </div>

                        <div class="col-xs-4 inner-col">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-sm btn-default active" title="All Orders">
                                    <input type="radio" class="btn-status-filter" data-filter="all" name="options"  autocomplete="off" > 
                                    All
                                </label>
                                <label class="btn btn-sm btn-default" title="Accepted Orders">
                                    <input type="radio" class="btn-status-filter" data-filter="accepted" name="options"  autocomplete="off" > 
                                    <i class="fa fa-thumbs-up text-success"></i>
                                </label>
                                <label class="btn btn-sm btn-default" title="Rejected Orders">
                                    <input type="radio" class="btn-status-filter" data-filter="rejected" name="options"  autocomplete="off" >
                                    <i class="fa fa-thumbs-down text-danger"></i>
                                </label>
                                <label class="btn btn-sm btn-default" title="Today Orders">
                                    <input type="radio" class="btn-status-filter" data-filter="today" name="options"  autocomplete="off" >
                                    <i class="fa fa-bell "></i>
                                </label>
                                <label class="btn btn-sm btn-default" title="Viewed Orders">
                                    <input type="radio" class="btn-status-filter" data-filter="seen" name="options"  autocomplete="off" >
                                    <i class="fa fa-eye text-primary"></i>
                                </label>
                                <label class="btn btn-sm btn-default" title="Unviewed Orders">
                                    <input type="radio" class="btn-status-filter" data-filter="unseen" name="options"  autocomplete="off" >
                                    <i class="fa fa-eye-slash text-danger"></i>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="ser-a-del col-xs-5">
                        <div class="col-xs-8 inner-col">
                            <form id="form-search" onsubmit="return false;">
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm" name="q" placeholder="Search for...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-sm btn-success btn-search " data-search="orders" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                                {{ token_input() |raw}}
                            </form>
                        </div>
                        <div class="addNew col-xs-4 ">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Set As <i class="fa fa-cogs text-danger"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="#" class="btn-action" data-url="orders" data-action="accepted"><span><i class="fa fa-thumbs-up text-success"></i></span> &nbsp;Accepted </a></li>
                                    <li><a href="#" class="btn-action" data-url="orders" data-action="rejected"><span><i class="fa fa-thumbs-down text-danger"></i></span> &nbsp;Rejected </a></li>
                                    <li><a href="#" class="btn-action" data-url="orders" data-action="seen"><span><i class="fa fa-eye text-primary"></i></span> &nbsp;Seen  </a></li>
                                    <li><a href="#" class="btn-action" data-url="orders" data-action="unseen"><span><i class="fa fa-eye-slash text-danger"></i></span> &nbsp;Un Seen  </a></li>
                                    <li><a href="#" class="btn-action" data-url="orders" data-action="deleted"><span><i class="fa fa-trash text-info"></i></span> &nbsp;Deleted </a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="table-responsive">
                        <form id="orders-form" action="#">
                            <table class="table table-hover table-orders">
                                <thead>
                                    <tr>
                                        <th id="ID">
                                            <input id="CheckAll" type="checkbox">
                                        </th>
                                        <th>Plan Type</th>
                                        <th>Full Name</th>
                                        <th>Email</th>
                                        <th>Country</th>
                                        <th>State</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                        <th>Operation</th>
                                    </tr>
                                </thead>
                                <tbody id="order-table-body">
                                    {% for order in orders %}
                                    {% if order.seen %}
                                    <tr class="seen">
                                        {% else %}
                                    <tr class="un-seen">
                                        {% endif %}
                                        <td class="ID">
                                            <input name="ids[]" class="chk-box" value="{{ order.id }}" type="checkbox">
                                        </td>
                                        <td>{{ order.plan }}</td>
                                        <td>{{ order.firstname }} {{ order.lastname }}</td>
                                        <td>{{ order.email }}</td>
                                        <td>{{ order.country }}</td>
                                        <td>{{ order.state}}</td>
                                        <td><small>{{ readable_time(order.created_at) }}</small></td>
                                        <td>
                                            {% if order.rejected %}
                                            <i class="fa fa-thumbs-down text-danger"></i>
                                            {% else %}
                                            <i class="fa fa-thumbs-up text-success"></i>                                
                                            {% endif %}
                                            {% if order.seen %}
                                            <i class="fa fa-eye text-primary"></i>
                                            {% else %}
                                            <i class="fa fa-eye-slash text-danger"></i>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-info btn-sm btn-order-view" data-order-id="{{ order.id }}" data-toggle="modal" data-target="#modal-orders"> 
                                                <i class="fa fa-eye"></i>
                                                View
                                            </button>
                                        </td>
                                        {% endfor %}
                                    </tr>
                                </tbody>
                            </table>
                            {{ token_input() |raw}}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">Panel footer</div>
    </div>
</section>
{% endblock %}
{% block modals %}
<!--EDIT Order  Modal -->
<div class="modal fade " id="modal-orders" tabindex="-1" role="dialog" aria-labelledby="mm">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-contentEn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Order Plan</h4>
            </div>
            <div class="modal-body" id="order-modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-defult" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}
{% block scripts %}
<script id="order-modal-template" >{% include 'admin/templates/order-modal-template.html' %}</script>
<script id="order-row-template" >{% include 'admin/templates/order-row-template.html' %}</script>
<script src="{{ url_pub('admin/js/process.js') }}"></script>
{% endblock %}









